@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    <p>
        Aqui você curte um exemplo de como utilizar a camada de dados específica
        para EntityFrameworkCore da Arquitetura E5R.</p>
</div>
