@model (Int32, Int32, Int32)

@{ ViewData["Title"] = "Contar"; }

<h2>Contar</h2>

<div>
    Total de estudantes: <strong>@Model.Item1</strong>
</div>
<div>
    Total de estudantes filtrados pelo EntityFramework: <strong>@Model.Item2</strong>
</div>
<div>
    Total de estudantes filtrados por SQL puro: <strong>@Model.Item3</strong>
</div>
